<html lang="">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <link href="/public/assets/styles.css" rel="stylesheet" type="text/css"/>

    <title>Problem Solver </title>
</head>
<body>
<p>This program was inspired by my original ideal for a chore app, but upon my creation of the app i realized how many other problems it can solve,
In the comming months I will ne adding features such as custome ser profles so you can keep track of you problems and is you would like to use this 
as a chore app you can save jobs and log into a nice interface that has all task layed out.
There will also be a portal for child to parent to send in pictures of task before and after completion
and a link to cash app so children can be paid for completed task.
if you have any other suggestions or features you think would be useful please submit a form below 
thank you
</p>
<h3>
    Technologies behind this app are
    <img src="https://nodejs.org/static/images/logos/nodejs-new-pantone-black.png">
    <h2><%= EJS %%></h2>
    <img src="http://www.codekul.com/img/images/logo_sqlite.png">
</h3>
</body>
</html>